input {
    margin: 5px 10px;
    padding: 10px 25px;
    border: 3px solid #87CEEB;
    border-radius: 1px;
    font-size: 14px;
    line-height: 15px;
    color: black;
  }
  
  .btn {
    cursor: pointer;
    margin: 5px 10px;
    padding: 11px 30px;
    border-color: #87CEEB;
    border-radius: 1px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: black;
    background: #87CEEB;
    transition: 0.3s;
  }
  
  .context {
    margin-top: 20px;
    margin-left: 12px;
    width: 1000px;	height: 600px;
      outline: 4px solid #87CEEB; /* Чёрная рамка */
      border: 5px solid #fff; /* Белая рамка */
  }